@font-face {
    font-family: 'Proxima Nova';
    src: local('Proxima Nova Black'), local('Proxima-Nova-Black'),
        url('../fonts/ProximaNova-Black.woff2') format('woff2'),
        url('../fonts/ProximaNova-Black.ttf') format('truetype');
    font-weight: 900;
    font-style: normal;
  }
  @font-face {
    font-family: 'Proxima Nova';
    src: local('Proxima Nova Bold'), local('Proxima-Nova-Bold'),
        url('../fonts/ProximaNova-Bold.woff2') format('woff2'),
        url('../fonts/ProximaNova-Bold.ttf') format('truetype');
    font-weight: 700;
    font-style: normal;
  }
  @font-face {
    font-family: 'Proxima Nova';
    src: local('Proxima Nova Regular'), local('Proxima-Nova-Regular'),
        url('../fonts/ProximaNova-Regular.woff2') format('woff2'),
        url('../fonts/ProximaNova-Regular.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
  }

* {box-sizing: border-box;font-family: 'Proxima Nova';padding: 0;margin: 0;font-size: 16px;}
body{color: #3D3F4A;padding: 0 50px;}

header{display: flex;justify-content: space-between;padding: 15px 0 0 0;align-items: center;}
header ul{display: flex; margin-right: 4.5%;}
header li{padding: 0 26px;font-size: 14px;line-height: 1.214em;letter-spacing: 0.03em;cursor: pointer;white-space: nowrap;}
footer{position: fixed;width: 100%;bottom: 0;/*! display: none; */left: 0;}

img{width: 100%}
p{line-height: 1.33;margin-bottom: 0.7em;}
ul,li{list-style: none}

#header-logo{width: 250px;display: flex; align-items: center;font-size: 14px;line-height: 1.214em;letter-spacing: 0.03em;cursor: pointer;}
#header-logo img{max-width: 90px;margin-right: 21px;}
#header-btn-back{font-size: 14px;line-height: 1.214em;letter-spacing: 0.03em;border: solid 1px currentColor;padding: 10px 20px 10px 40px;border-radius: 20px;background-image: url("data:image/svg+xml;charset=utf8,%3Csvg width='14' height='10' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M5 1L1 5m0 0l4 4M1 5h12.5' stroke='%233D3F4A'/%3E%3C/svg%3E");background-repeat: no-repeat;background-position: 19px 50%;cursor: pointer;white-space: nowrap;}
.btn-more{font-size: 16px;color: #E61D2B;margin: 46px 0 0 5px;padding-right: 23px;display: inline-block;background-image: url("data:image/svg+xml;charset=utf8,%3Csvg width='14' height='10' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M8.5 1l4 4m0 0l-4 4m4-4H0' stroke='%23E61D2B'/%3E%3C/svg%3E");background-repeat: no-repeat;background-position: right center;}
.container{width: 100%;max-width: 1210px;margin: 0 auto;padding: 0 15px;position: relative;}
.fresh{font-size: 14px;background: #E61D2B;border-radius: 15px;display: inline-block;color: #fff;padding: 0.5em 1em;margin: 6.9em 0 1.4em 0;}
h1{font-weight: 900;font-size: 60px;line-height: 0.68em;margin-bottom: 0.76em;}
h1~p{max-width: 260px;}
h2{font-weight: 700;font-size: 36px;}
h3{font-size: 30px;font-weight: 900;line-height: 32px;margin: 3.3em 0 0.55em 0;}
h3~p{font-size: 14px}
#top{position: relative;padding-bottom: 15%;}
#top .img-wrap{position: absolute;right:-47px;top:-26px;width: 100%;}
.comic-back{max-width: 63.7%;}
.comic-front{max-width: 48%;transform: translate(-77%,5.8%);transition: .6s ease-out;}
.firstload .comic-front{transform: translate(-43%,0.8%) rotate(4deg);}

#preview-list{display: flex;flex-wrap: wrap;justify-content: space-between;padding-bottom: 100px;}
.preview-item{width: 15%;margin-bottom: 10px;cursor: pointer;}
.preview-item-issue{font-size: 14px;font-weight: 700;margin-bottom: 0;}
.preview-item-name{font-size: 16px;line-height: 1.250em;}
.preview-head{justify-content: space-between; display: flex; align-items: center;margin-bottom: 36px;margin: 25px 0 36px 0;}
#preview-sort{font-size: 14px;line-height: 1.214em;letter-spacing: 0.03em;}
.sort-select-item{font-size: 14px;line-height: 1.214em;letter-spacing: 0.03em;}
.sort-select-box{border: 1px solid #DDD;border-radius: 20px;}


#main{position: absolute;top: 0;left: 0;}
#comic{position: absolute;top: 0;left: 0;width: 100%;background-color: #fff;/*! display: flex; */height: calc(100vh - 104px);/*! display: none; */}
#comic .desc{max-width: 200px;margin-left: 18px;position: absolute;left: 0;top: 0;}
#comic-wrap{margin: 0 auto;display: flex;height: 100%;max-height: calc(92.3vh - 104px);justify-content: center;align-items: flex-start;padding-top: 2.4vh;}
.comic-nav-arr{width: 132px;height: 40px;bottom: 10.8vh;position: absolute;font-size: 14px;line-height: 17px;background-repeat: no-repeat;cursor: pointer;}
.comic-nav-arr.next{right:50px;text-align: right;background-image: url("data:image/svg+xml;charset=utf8,%3Csvg width='36' height='9' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M30.5 8.5l4-4m0 0l-4-4m4 4H0' stroke='%233D3F4A'/%3E%3C/svg%3E");background-position: right 16%;padding-right: 55px;}
.comic-nav-arr.prev{left:50px;background-image: url("data:image/svg+xml;charset=utf8,%3Csvg width='36' height='9' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M5 .5l-4 4m0 0l4 4m-4-4h34.5' stroke='%233D3F4A'/%3E%3C/svg%3E");background-position: left 16%;padding-left: 55px;}
.comic-nav-thumbs{position: relative;padding: 99px 30px 0 30px;margin-right: -16.7%;height: 100%;}
.comic-nav-thumbs ol {list-style-type: none; counter-reset: num;opacity: 0;transition: .4s;}
.comic-nav-thumbs.active ol{opacity: 1;height: 100%;overflow-y: scroll;padding-right: 30px;}
.comic-burder path{transition: .3s}
.comic-nav-thumbs.active .comic-burder path:nth-of-type(1){transform: matrix(1,1,0,1,-1,0);}
.comic-nav-thumbs.active .comic-burder path:nth-of-type(2){opacity: 0;}
.comic-nav-thumbs.active .comic-burder path:nth-of-type(3){transform: matrix(1,-1,0,1,0,10);}
.comic-nav-thumbs ol li {position: relative;padding-bottom: 26px;cursor: pointer;}
.comic-nav-thumbs ol li:before {content: counter(num);counter-increment: num;display: inline-block;position: absolute;bottom: 13px;width: 100%;text-align: center;font-size: 14px;}


.comic-nav-item{width: 104px;}
.comic-burder{position: absolute;top: 6px;left: 30px;width: 30px;height: 30px;cursor: pointer;}
#comic-curr-imgs{height: 100%;}
#comic-curr-imgs img{height: 100%;width:auto}